
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary btn-lg" (click)="sortPhotos()">Sort Photos Alphabetically</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-lg" (click)="viewFavorites()">View Your Favorites</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-lg" (click)="viewAllCards()">View All Cards</button>
    </div>
  </div>
  <div *ngIf="showFavorite">
    <div *ngFor="let cat of catCards">
      <div class="row">
        <div class="col-md-3"></div>
        <div *ngIf="cat.favorite" class="col-md-6">
            <card [catcard]="cat"></card>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div *ngIf="!showFavorite">
    <div class="row">
      <div *ngFor="let cat of catCards" class="col-md-4">
        <card [catcard]="cat"></card>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>
